{% extends 'profesional/base-profesional.html' %}
{% load static %}
{% block tittle %}Profesional{% endblock %}

{% block body %}
<div class="container-menu">
    <div class="info-perfiles">

        <div class="container-mantenedor">
            <div class="mantenedor-user">
                <a href="{% url 'ingresar_capa' %}">
                    <div class="acciones-mantenedor">
                        <div class="desc-acc">
                            <h3>INGRESAR CAPACITACIONES</h3>
                        </div>
                    </div>
                </a>
                <a href="{% url 'modificar_capa' %}">

                </a>
            </div>

            <div class="mantenedor-user">
                <a href="{% url 'crear_capa' %}">
                    <div class="acciones-mantenedor">
                        <div class="desc-acc">
                            <h3>CREAR CAPACITACIONES</h3>
                        </div>
                    </div>
                </a>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
