{% extends 'base.html' %}
{% load static %}
{% block tittle %}Ingresar Capacitación{% endblock %}

{% block body %}
<div class="container-menu">
    {% include 'profesional/menu-prof/capacitaciones.html'%}
    <div class="info-perfiles">
        <div class="login-container">
            <div class="actividad-box">
                <div class="act-text-container">
                    <h2>INGRESAR ACTIVIDAD DE CAPACITACIÓN</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="act-columns">
                            <div class="crea-act-container">
                                <p>Nombre</p>
                                {{form.nombre}}
                                <p>Descripción</p>
                                {{form.descripcion}}
                                {{form.tipo_act.as_hidden}}
                                <p>Capacitación</p>
                                {{form.id_capacitacion}}
                                <p>Fecha estimada</p>
                                {{form.fec_estimada}}</div>
                            <div class="crea-act-container">
                                <p>Fecha de ida</p>
                                {{form.fec_ida}}
                                <p>Estado</p>
                                {{form.estado}}
                                <p>Cliente</p>
                                {{form.id_cli}}
                                <p>Profesional</p>
                                {{form.id_prof}}
                                <p>Acción</p>
                                <input type="submit" value="Ingresar" id="button" class="alter-button">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}