{% extends 'base.html' %}
{% load static %}
{% block tittle %}Modificar Capacitación{% endblock %}

{% block body %}
{% include 'profesional/menu-horizontal.html'%}
<div class="container-menu">
    {% include 'profesional/menu-prof/capacitaciones.html'%}
    <div class="info-perfiles">
        <div class="login-container">
            <div class="signup-box">
                <div class="perfil-text-container">
                    <h2>MODIFICAR CAPACITACIÓN</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{form}}
                        <input type="submit" value="Modificar" id="button" class="alter-button">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}