{% extends 'base.html' %}
{% load static %}
{% block tittle %}Crear asesoria{% endblock %}

{% block body %}
<div class="container-menu">
    {% include 'administrador/menu-admin/info-profesional.html'%}
    <div class="info-perfiles">
        <div class="login-container">
            <div class="signup-box">
                <div class="perfil-text-container">
                    <h2>CREAR Profesional</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                        Usuario
                        {{form.id_perfil}}
                        <input type="submit" value="Registrar" id="button" class="alter-button">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}