{% extends 'base.html' %}
{% load static %}
{% block tittle %}Adminsitrador - Contratos{% endblock %}

{% block body %}
<div class="container-menu">
    <div class="menu-vertical">


    </div>
    <div class="info-perfiles">
        <div class="container-lista">
            <div class="lista">
                <h2>Listado de Actividad</h2>
                <div class="botones-asesorias">
                    <a class ="color-verde" href="{% url 'contratoCliente' %}">Crear nuevo contrato</a>
                </div>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>contrato </th>
                            <th>Fecha de comienzo</th>
                            <th>Fecha de termino</th>
                            <th>Valor</th>
                            <th>Estado</th>
                            <th>Plan</th>
                            <th>Cliente</th>
                            <th>Ver Cliente</th>
                            <TH>ACCIÓN</TH>
                        </tr>
                    </thead>
                    <tbody>
                        {% if entity %}
                        {% for entity in entity %}
                        <tr>
                            <td class="table-id">{{entity.id_contrato}}</td>

                            <td>{{entity.fec_inicio}}</td>

                            <td ><p>{{entity.fec_termino}}</p></td>

                            <td ><p>{{entity.total_pago}}</p></td>

                            <td ><p>{{entity.estado}}</p></td>

                            <td ><p>{{entity.id_plan}}</p></td>

                            <td ><p>{{entity.id_cli}}</p></td>
                            


                           
<!-- <td>
                                
                                {% if entity.8 == '1' %}
                                Solicitado
                                {% elif entity.8 == '2' %}
                                Pendiente
                                {% elif entity.8 == '3' %}
                                Realizado
                                {% elif entity.8 == '4' %}
                                Cancelado
                                {% endif %}
                            </td>-->
                            

                            <td class="table-action" >
                                <a href="" id="modificar">
                                    <div class = "modificar"><p>Modificar</p></div>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                <div class="num-pag">
                    {% include 'paginator.html'%}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}