{% extends 'base.html' %}
{% load static %}
{% block tittle %}Adminsitrador - Contratos{% endblock %}

{% block body %}
<div class="container-menu">
    <div class="menu-vertical">
        <ul>
            <h2>{{user.get_full_name}}</h2>
            <li><a class="active" href="{% url 'home-adm' %}">Home</a></li>
            <li><a href="{% url 'mantenedor' %}">Mantenedor</a></li>
            <li><a href="{% url 'infoPerfil' %}">Info Perfiles</a></li>
            <li><a  href="{% url 'infoProfesional' %}">Info Profesional</a></li>
            <li><a href="{% url 'infoCliente' %}">Info Cliente</a></li>
            <li><a href="#">Reportes</a></li>
            <li><a href="{% url 'actividades' %}">Ver Actividades</a></li>
            <li><a href="#">Notificar Atrasos</a></li>
            <li><a href="{% url 'listaContrato' %}">Contratos</a></li>
            <li><a href="{% url 'listaBoletas' %}">Boletas</a></li>
            <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
        </ul>

    </div>
    <div class="info-perfiles">
        <div class="container-lista">
            <div class="lista">
                <h2>Listado de contratos</h2>
                <div class="botones-asesorias">
                    <a class ="color-verde" href="{% url 'contratoCliente' %}">Crear nuevo contrato</a>
                </div>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>contrato </th>
                            <th>Fecha de comienzo</th>
                            <th>Fecha de termino</th>
                            <th>Valor</th>
                            <th>Estado</th>
                            <th>Plan</th>
                            <th>Cliente</th>
                            <TH>ACCIÓN</TH>
                        </tr>
                    </thead>
                    <tbody>
                        {% if entity %}
                        {% for entity in entity %}
                        <tr>
                            <td class="table-id">{{entity.id_contrato}}</td>

                            <td>{{entity.fec_inicio}}</td>

                            <td ><p>{{entity.fec_termino}}</p></td>

                            <td ><p>{{entity.total_pago}}</p></td>

                            <td ><p>{{entity.estado}}</p></td>

                            <td ><p>{{entity.id_plan}}</p></td>

                            <td ><p>{{entity.id_cli}}</p></td>
                            
                            <td class="table-action" >
                                <a href="{% url 'editarContrato' entity.id_contrato %}" id="modificar">
                                    <div class = "modificar"><p>Modificar</p></div>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                <div class="num-pag">
                    {% include 'paginator.html'%}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}