{% load static %}
<header id="header">
    <div class="logo-container">
        <img src="{% static 'img/menuiconwhite.png' %}" alt="menu" class="menu" id="menu">
        <h2 class="sl">Safely</h2>
    </div>
    <div>
        <nav id="nav">
            <ul>
                <li>
                    <a href="{% url 'home' %}">Inicio</a>
                </li>
                <li id="pln">
                    <a href="#planes">Planes</a>
                </li>
                <li id="servicios">
                    <a href="#servicios">Servicios</a>
                </li>
                <li id="empresa">
                    <a href="#empresa">Empresa</a>
                </li>
                {% if user.is_anonymous %}
                <li id="login">
                    <a href="{% url 'login' %}">Iniciar Sesión</a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}">Cerrar sesión</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>