{% extends 'base.html' %}
{% load static %}
{% block tittle %}Boleta{% endblock %}

{% block body %}

<style>

.container-email {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    color: #1a1a1a;
}

.container-email-logo {
    width: 100%;
    height: 10vh;
    display: flex;
    background-color: #fdfdfd;
    box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.02);
    position: absolute;
}

.container-email-logo img {
    width: 140px;
    height: 50px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1%;
}

.container-email-datos-cli {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 9px;
    width: 90%;
    background-color: #fdfdfd;
    box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.02);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    border:1px solid #dfdfdf;
}

.container-email-datos-cli p {
    padding-top: 9px;
    margin-left: 20px;
    width: 90%;
}

.container-email-datos-cli p a{
    margin: auto;
    color: #1a1a1a;
    text-decoration: none;
    font-weight: bold;
}

.container-email-datos-cli h2 {
    padding-top: 9px;
    margin: auto;
}

.edc-ultimo {
    padding-bottom: 10px;
}

</style>
<div class="container-email">
    <!--<div class="container-email-logo">
        <img src="https://i.imgur.com/086cP82.png">
    </div>!-->
    <form action="" method="post"></form>
    {% csrf_token %}
    <div class="container-email-datos-cli">
        <h2>Boleta Electrónica Safely</h2>
    </div>
    <div class="container-email-datos-cli">
        <p>Nombre cliente: {{form.id_contrato.id_cli.id_perfil.id_auth_user.first_name}} {{form.id_contrato.id_cli.id_perfil.id_auth_user.last_name}}</p>
        <p>Razón social: {{form.id_contrato.id_cli.razon_social}}</p>
        <p>Correo: {{form.id_contrato.id_cli.id_perfil.id_auth_user.email}}</p>
        <p>Rut: {{form.id_contrato.id_cli.id_perfil.rut}}</p>
        <p>Teléfono: {{form.id_contrato.id_cli.id_perfil.telefono}}</p>
        <p>Dirección: {{form.id_contrato.id_cli.id_perfil.direccion}}</p>
    </div>
    <div class="container-email-datos-cli">
        <p>Plan: {{form.id_contrato.id_plan}}</p>
    </div>
    <div class="container-email-datos-cli">
        <p>Contrato Número: {{form.id_contrato}}</p>
        <p>Fecha de emisión: {{form.fec_emision_bol}}</p>
        <p>Fecha de vencimiento: {{form.fec_pago}}</p>
        <p>Fecha corte del plan: {{form.fec_corte}}</p>
    </div>
    <div class="container-email-datos-cli edc-utlimo">
        <p>Total a Pagar: {{form.pago_mensual}} | <a href={{form.url}}>Pagar aquí</a></p>
    </div>
    </form>
</div>
{% endblock %}