@media (max-width:1366px){

    .acciones-mantenedor {
        height: 180px;
        width: 240px;
    }
    
    .desc-acc p {
        font-size: 12px;
    }
    
    .desc-acc h3 {
        font-size: 20px;
        padding-bottom: 22px;
    }

    .menu-vertical li a {
        padding: 13px 20px;
        font-size: 13px;
    }

    .menu-vertical ul h2 {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    
    .info-perfiles { 
        width: 80%;
    }

    .lista table td a .modificar {
        width: 60px;
        height: 25px;
    }
    
    .lista table td a .vigente {
        width: 60px;
        height: 25px;
    }

    .lista .desc {
        width: 200px;
    }

    .lista.desc p {
        height: 36px;
    }

    .lista .desc-act {
        width: 130px;
        height: 33px;
    }
    
    .lista .desc-act p {
        height: 33px;
        padding-right: 6px;
        width: 115px;
        margin-left: auto;
    }

    .lista td, .lista th {
        border: 1px solid #ddd;
        width: auto;
    
        font-size: 11px;
        padding: 2px;
    }

    .lista .table-action {
        width: 160px;
    }

    .page-item {
        padding: 6px 14px;
        font-size: 12px;
    }

    .login-box {
        width: 350px;
        height: 450px;
    }

    .login-text-container > h2 {
        padding-bottom: 20px;
        padding-top: 20px;
        font-size: 46px;
    }
    
    .login-text-container form input {
        margin-bottom: 10px;
        height: 36px;
        width: 220px;
        font-size: 13px;
    }

    .signup-box {
        width: 350px;
        height: auto;
    }
    
    .perfil-text-container > h2 {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 26px;
        text-shadow: 0px 0px 16px rgba(0,0,0,0.02);
    }
    
    .perfil-text-container form input[type=text], 
    .perfil-text-container form  input[type=number], 
    .perfil-text-container form  input[type=submit], 
    .perfil-text-container form  input[type=email], 
    .perfil-text-container form  input[type=password],
    .perfil-text-container form  input[type=date] {
        margin-bottom: 12px;
        height: 30px;
        width: 220px;
        font-size: 12px;
    }

    .perfil-text-container textarea{
        width: 220px;
        font-size: 14px;
    }

    .act-text-container p {
        font-size: 12px;
    }

    .act-text-container > h2 {
        padding-bottom: 10px;
        padding-top: 10px;
        font-size: 28px;
        text-shadow: 0px 0px 16px rgba(0,0,0,0.02);
    }

    .actividad-box {
        width: 600px;
    }

    .crea-act-container ul {
        height: 28px;
        width: 290px;
        margin-bottom: 15px;
        font-size: 13px;
    }
    
    .crea-act-container li{
        margin: auto;
    }

    .act-text-container form input[type=text], 
    .act-text-container form input[type=number], 
    .act-text-container form input[type=submit], 
    .act-text-container form input[type=email], 
    .act-text-container form input[type=password], 
    .act-text-container form input[type=date], 
    .act-text-container form select{
        margin-bottom: 10px;
        height: 30px;
        width: 200px;
        font-size: 11px;
    }

    .act-text-container textarea{
        width: 200px;
        font-size: 11px;
    }

    .crea-act-container .alter-button {
        width: 220px;
    }

    input[type=checkbox] {
        box-sizing:border-box;
        display: block;
        margin: auto;
        margin-bottom: 12px;
        height: 34px;
        width: 200px;
        font-size: 11px;
    }
    
    .perfil-text-container select {
        margin-bottom: 10px;
        height: 24px;
        width: 200px;
        font-size: 11px;
    }

    .perfil-text-container .alter-button {
        font-size: 11px;
        margin-bottom: 20px;
    }

    .admin-box {
        width: 500px;
    }
    
    .admin-text p{
        font-size: 13px;
    }

    .admin-text form input[type=text], 
    .admin-text form input[type=number], 
    .admin-text form input[type=submit], 
    .admin-text form input[type=email], 
    .admin-text form input[type=password]{
        width: 260px;
        height: 32px;
        font-size: 12px;
        margin-top: 9px;
    }

    .admin-text .permisos select {
        height: 200px;
        width: 260px;
        max-height: 100%;
        margin-top: 9px;
    }
    
    .admin-text textarea{
        width: 260px;
        margin-top: 9px;
        font-size: 12px;
    }
    
    .admin-text form input[type=submit]{
        font-size: 12px;
        width: 100px;
        padding-left: 0px;
    }

    .admin-text input[type=checkbox] {
        width: 30px;
    }

    .admin-text > h2 {
        padding-bottom: 18px;
        padding-top: 38px;
        font-size: 32px;
    }

    .botones-asesorias form p {
        font-size: 12px;
    }
    
    .botones-asesorias form input[type=text],
    .botones-asesorias form select{
        height: 24px;
        width: 150px;
        font-size: 12px;
    }
    
    .botones-asesorias form input[type=submit] {
        height: 24px;
        width: 80px;
        font-size: 12px;
    }

    ::-webkit-scrollbar {
        width: 8px;
    }
}