{% extends 'base.html' %}
{% load static %}
{% block tittle %}Actualizar{% endblock %}

{% block body %}
<div class="container-menu">
    <div class="info-perfiles">
        <div class="login-container">
            <div class="actividad-box">
                <div class="act-text-container">
                    <h2>MODIFICAR ACTIVIDAD</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="crea-act-container">
                            {{form.as_p}}
                        </div>
                        <input type="submit" value="Modificar" id="button" class="alter-button">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}