<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtro</title>
</head>
<body>

    <form method="get">
        <!---->

        <p><label for="id_is_active">Activo:</label> 
            <select name="is_active" id="id_is_active">
            <option value="unknown" selected="">Desconocido</option>
            <option value="true">Sí</option>
            <option value="false">No</option>
          </select>
        </p>

        <p>
            <label for="id_groups">Grupos:</label> 
            <select name="groups" id="id_groups" multiple="">
            <option value="1">Administrador</option>
            <option value="2">Cliente</option>
            <option value="3">Profesional</option>
          </select>
        </p>

        <p><label for="id_id_auth_user.username">Nombre de usuario:</label> <input type="text" name="id_auth_user.username" id="id_id_auth_user.username"></p>


            <p><label for="id_first_name">Nombre:</label> <input type="text" name="first_name" id="id_first_name"></p>
        

            
        
        <!-- {{filtro.form.as_p}} -->
            
            
        
        <input type="submit" value="Presiona">
    </form>
    <!-- 
    {% for user in filtro.qs %}
    
    <h2>
     {{user.username}} | {{user.first_name}} | {{user.last_name}} | {{user.email}}  | {{perfil.rut}}
    </h2>
        
    {% endfor %}-->

    {% for perfil in PerfilF.qs %}
    <h3>
        {{ perfil.rut }} -- {{ perfil.id_auth_user.username}}
    </h3>
    {% endfor %}

    
    
</body>
</html>
