<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtro</title>
</head>
<body>

    <form method="get"> 
         {{cliente.form.as_p}} 
            
            
        <input type="submit" value="Presiona">
    </form>

    {% for c in cliente.qs %}
    <h3>
        {{ c.0 }} 
        {{ c.1 }} 
        {{ c.2 }} 
        {{ c.3 }} 
    </h3>
    {% endfor %}

</body>
</html>
