{% extends 'base.html' %}
{% load static %}
{% block tittle %}Crear asesoria{% endblock %}

{% block body %}
{% include 'administrador/menu-horizontal.html'%}
<div class="container-menu">
    {% include 'administrador/menu-admin/info-perfil.html'%}
    
    <div class="info-perfiles">
        <div class="login-container">
            <div class="signup-box">
                <div class="perfil-text-container">
                    <h2>Crear Perfil</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                        Rut
                        {{form.rut}}
                        Teléfono
                        {{form.telefono}}
                        Dirección
                        {{form.direccion}}
                        Tipo de perfil
                        {{form.tipo_perf}}
                        Usuario
                        {{form.id_auth_user}}
                        <input type="submit" value="Registrar" id="button" class="alter-button">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}