{% extends 'base.html' %}
{% load static %}
{% block tittle %}Información perfiles{% endblock %}

{% block body %}
{% if perms.api.add_user %}
<div class="container-menu">
    <div class="menu-vertical">
        <ul>
            <h2>{{user.get_full_name}}</h2>
            <li><a class="active" href="{% url 'home-adm' %}">Home</a></li>
            <li><a href="{% url 'mantenedor' %}">Mantenedor</a></li>
            <li><a href="{% url 'infoPerfil' %}">Info Perfiles</a></li>
            <li><a  href="{% url 'infoProfesional' %}">Info Profesional</a></li>
            <li><a href="{% url 'infoCliente' %}">Info Cliente</a></li>
            <li><a href="#">Reportes</a></li>
            <li><a href="{% url 'actividades' %}">Ver Actividades</a></li>
            <li><a href="#">Notificar Atrasos</a></li>
            <li><a href="{% url 'listaContrato' %}">Contratos</a></li>
            <li><a href="{% url 'listaBoletas' %}">Boletas</a></li>
            <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
        </ul>
    </div>
    <div class="info-perfiles">
        <div class="container-lista">
            <div class="lista">
                <h2>INFORMACIÓN PERFILES</h2>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Id Perfil</th>
                            <th>Rut</th>
                            <th>Teléfono</th>
                            <th>Dirección</th>
                            <th>Tipo de Perfil</th>
                            <th>Nombre de usuario</th>
                            <TH>Acción</TH>
                        </tr>
                    </thead>
                    <tbody>
                        {% if entity %}
                        {% for entity in entity %}
                        <tr>
                            <td>{{entity.id_perfil}}</td>
                            <td>{{entity.rut}}</td>
                            <td>{{entity.telefono}}</td>
                            <td>{{entity.direccion}}</td>
                            <td>
                                {% if entity.tipo_perf == '1' %}
                                Admin
                                {% elif entity.tipo_perf == '2' %}
                                Profesional
                                {% elif  entity.tipo_perf == '3' %}
                                Cliente
                                {% endif %}
                            </td>
                            <td>{{entity.id_auth_user}}</td>

                            <td class="table-action">
                                <a href="{% url 'modificar_perfil' entity.id_perfil %}" id="modificar">
                                    <div class = "modificar"><p>Modificar</p></div>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                <div class="num-pag">
                    {% include 'paginator.html'%}
                </div>
            </div>
        </div>

    </div>
</div>
{% endif %}
{% endblock %}