{% extends 'base.html' %}
{% load static %}
{% block tittle %}Profesional - Actividad{% endblock %}

{% block body %}
<div class="container-menu">
    <div class="menu-vertical">
        <ul>
            <h2>{{user.get_full_name}}</h2>
            <li><a href="{% url 'home-prof' %}">Home</a></li>
            <li><a href="{% url 'datos-prof' %}">Datos Personales</a></li>
            <li><a class="active-pro" href="{% url 'vista_actividad' %}">Actividad</a></li>
            <li><a href="{% url 'lista_ase' %}">Asesorías</a></li>
            <li><a href="{% url 'lista_capa' %}">Capacitaciones</a></li>
            <li><a href="{% url 'vista_mejoras' %}">Mejoras</a></li>
            <li><a href="{% url 'lista_ch' %}">Checklist</a></li>
            <li><a href="{% url 'vista_visita' %}">Visita</a></li>
            <li><a href="#">Clientes</a></li>
            <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
        </ul>
    </div>
    <div class="info-perfiles">
        <div class="container-lista">
            <div class="lista">
                <h2>Actividad</h2>
                <div class="botones-asesorias">
                    <a class ="color-verde" href="{% url 'crear_actividad' %}">Crear Actividad</a>
                </div>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID ACTIVIDAD</th>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Fecha estimada</th>
                            <th>Fecha ida </th>
                            <th>Estado </th>
                            <th>Cliente </th>
                            <TH>ACCIÓN</TH>
                        </tr>
                    </thead>
                    <tbody>
                        {% if entity %}
                        {% for entity in entity %}
                        <tr>
                            <td class="table-id">{{entity.id_actividad}}</td>
                            <td>{{entity.nombre}}</td>
                            <td class="desc-act"><p>{{entity.descripcion}}</p></td>
                            <td>{{entity.fec_estimada}}</td>
                            <td>{{entity.fec_ida}}</td>
                            <td>{% if entity.estado == '1' %}
                                Solicitado
                                {% elif entity.estado == '2' %}
                                Pendiente
                                {% elif entity.estado == '3' %}
                                Realizado
                                {% elif entity.estado == '4' %}
                                Cancelado
                                {% endif %}
                            </td>
                            <td>{{entity.id_cli.razon_social}}</td>

                            <td class="table-action" >
                                <a href="{% url 'modificar_actividad' entity.id_actividad %}" id="modificar">
                                    <div class = "modificar"><p>Modificar</p></div>
                                </a>
                                <a href="{% url 'estado_actividad' entity.id_actividad %}" id="Estado">
                                    <div class = "modificar"><p>Estado</p></div>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                <div class="num-pag">
                    {% include 'paginator.html'%}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}