{% extends 'base.html' %}
{% load static %}
{% block js %}
<script>
    $(function() {
        $('#id_tipo_act').change(function(){
            $('.tipo').hide();
            $('#' + $(this).val()).show();
        });
    });
</script>
{% endblock %}
{% block tittle %}Crear Actividad{% endblock %}

{% block body %}
<div class="container-menu">
    <div class="menu-vertical">
        <ul>
            <h2>{{user.get_full_name}}</h2>
            <li><a href="{% url 'home-prof' %}">Home</a></li>
            <li><a href="{% url 'datos-prof' %}">Datos Personales</a></li>
            <li><a class="active-pro" href="{% url 'vista_actividad' %}">Actividad</a></li>
            <li><a href="{% url 'lista_ase' %}">Asesorías</a></li>
            <li><a href="{% url 'lista_capa' %}">Capacitaciones</a></li>
            <li><a href="{% url 'vista_mejoras' %}">Mejoras</a></li>
            <li><a href="{% url 'lista_ch' %}">Checklist</a></li>
            <li><a href="{% url 'vista_visita' %}">Visita</a></li>
            <li><a href="#">Clientes</a></li>
            <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
        </ul>
    </div>
    
    <div class="info-perfiles">
        <div class="login-container">
            <div class="actividad-box">
                <div class="act-text-container">
                    <h2>CREAR ACTIVIDAD</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="crea-act-container">
                            <p>Nombre</p>
                            {{form.nombre}}
                            <p>Descripción</p>
                            {{form.descripcion}}
                            <p>Tipo de Actividad</p>
                            <select id="id_tipo_act" name="tipo_act">
                                {% for x, y in form.fields.tipo_act.choices %}
                                    <option value="{{ x }}"{% if form.fields.tipo_act.value == x %} selected{% endif %}>{{ y }}</option>
                                {% endfor %}
                            </select>
                            <diV id=1 class="tipo" style="display:none">
                                <p>Capacitación</p>
                                {{form.id_capacitacion}}
                            </div>
                            <diV id="2" class="tipo" style="display:none">
                                <p>Asesoría</p>
                                {{form.id_asesoria}}
                            </div>
                            <diV id="3" class="tipo" style="display:none">
                                <p>Visita</p>
                                {{form.id_visita}}
                            </div>
                            <p>Fecha estimada</p>
                            {{form.fec_estimada}}</div>
                        <div class="crea-act-container">
                            <p>Fecha de ida</p>
                            {{form.fec_ida}}
                            <p>Estado</p>
                            {{form.estado}}
                            <p>Cliente</p>
                            {{form.id_cli}}
                            <p>Profesional</p>
                            {{form.id_prof}}
                            <p>Acción</p>
                            <input type="submit" value="Crear" id="button" class="alter-button">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}