{% extends 'base.html' %}
{% load static %}
{% block tittle %}Modificar{% endblock %}

{% block body %}
<div class="container-menu">

    <div class="info-perfiles">
        <div class="login-container">
            <div class="signup-box">
                <div class="login-text-container">
                    <h2>MODIFICAR ACTIVIDAD</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{form}}
                        <input type="submit" value="Modificar" id="button" class="alter-button">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}