{% extends 'base.html' %}
{% load static %}
{% block tittle %}editar{% endblock %}

{% block body %}
<div class="container-menu">
    <div class="menu-vertical">
        <ul>
            <h2>{{user.get_full_name}}</h2>
            <li><a href="{% url 'home-adm' %}">Home</a></li>
            <li><a class="active" href="{% url 'mantenedor' %}">Mantenedor</a></li>
            <li><a href="#">Reportes</a></li>
            <li><a href="#">Ver Actividades</a></li>
            <li><a href="#">Notificar Atrasos</a></li>
            <li><a href="#">Control de Pagos</a></li>
            <li><a href="#">Accidentes</a></li>
            <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
        </ul>
    </div>
    <div class="info-perfiles">
        <div class="login-container">
            <div class="signup-box">
                <div class="perfil-text-container">
                    <h2>Editar Servicio</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                        <h5>Nombre del Servicio</h5>
                        {{ form.nombre }}
                        <h5>Descripción</h5>
                        {{ form.descripcion }}
                        <h5>Servicio agregado</h5>
                        {{ form.id_servicio }}
                        <input type="submit" value="Modificar" id="button" class="alter-button">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}