{% extends 'base.html' %}
{% load static %}
{% block tittle %}Servicio -LISTA{% endblock %}
{% block body %}
<div class="container-menu">
    <div class="menu-vertical">
        <ul>
            <h2>{{user.get_full_name}}</h2>
            <li><a href="{% url 'home-adm' %}">Home</a></li>
            <li><a class="active" href="{% url 'mantenedor' %}">Mantenedor</a></li>
            <li><a href="{% url 'infoPerfil' %}">Info Perfiles</a></li>
            <li><a  href="{% url 'infoProfesional' %}">info Profesional</a></li>
            <li><a href="{% url 'infoCliente' %}">info Cliente</a></li>
            <li><a href="#">Reportes</a></li>
            <li><a href="#">Ver Actividades</a></li>
            <li><a href="#">Notificar Atrasos</a></li>
            <li><a href="#">Control de Pagos</a></li>
            <li><a href="#">Accidentes</a></li>
            <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
        </ul>
    </div>
    <div class="info-perfiles">
        <div class="container-lista">
            <div class="lista">
                <h2>Lista de Servicios</h2>
                <table class="table">
                    <thead class="thead-dark">
                        <tr class="servicio">
                            <th>Identificador</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Estado</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if entity %}
                        {% for entity in entity %}
                        <tr>
                            <td>{{entity.id_servicio}}</td>
                            <td>{{entity.nombre}}</td>
                            <td class="desc-act"><p>{{entity.descripcion}}</p></td>
                            <td>{% if entity.estado %}
                                Activo
                                {% else %}
                                Desactivado
                                {% endif %}
                            </td> 
                            <td class="table-action">
                                <a href="{% url 'editar-servicio' entity.id_servicio %}">
                                    <div class = "modificar"><p>Modificar</p></div>
                                </a>

                                {% if entity.estado %}
                                <a href="{% url 'desactivar-servicio' entity.id_servicio %}">
                                    <div class = "vigente"><p>Desactivar</p></div>
                                </a>
                                {% else %}
                                <a href="{% url 'activar-servicio' entity.id_servicio %}">
                                    <div class = "vigente"><p>Activar</p></div>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        {%endif %}
                    </tbody>
                </table>
                <div class="num-pag">
                    {% include 'paginator.html'%}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}