{% extends 'base.html' %}
{% load static %}
{% block tittle %}Profesional - Actividad{% endblock %}

{% block body %}
<div class="container-menu">
    {% include 'profesional/menu-prof/clientes.html'%}
    <div class="info-perfiles">
        <div class="container-lista">
            <div class="lista">
                <h2>Clientes asignados</h2>

                <table class="table">
                    <thead class="thead-dark">
                        <tr>

                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Fecha estimada</th>
                            <th>Cliente</th>
                            <th>tipo_act</th>
                            <th>Estado </th>
                            <th>Cambiar estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if entity %}
                        {% for entity in entity %}
                        <tr>
                            <td>{{entity.nombre}}</td>
                            <td class="desc-act"><p>{{entity.descripcion}}</p></td>
                            <td>{{entity.fec_estimada}}</td>
                            <td>{{entity.id_cli}}</td>
                            <td>{% if entity.tipo_act == '1' %}
                                Capacitación
                                {% elif entity.tipo_act == '2' %}
                                Asesoría
                                {% elif entity.tipo_act == '3' %}
                                Visita
                                {% elif entity.tipo_act == '4' %}
                                Asignado
                                {% endif %}
                            </td>
                            <td>{% if entity.estado == '1' %}
                                Solicitado
                                {% elif entity.estado == '2' %}
                                Pendiente
                                {% elif entity.estado == '3' %}
                                Realizado
                                {% elif entity.estado == '4' %}
                                Cancelado
                                {% endif %}
                            </td>

                            <td class="table-action" >
                                <a href="{% url 'estado_actividad' entity.id_actividad %}" id="Estado">
                                    <div class = "modificar"><p>Estado</p></div>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                <div class="num-pag">
                    {% include 'paginator.html'%}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}