{% extends 'base.html' %}
{% load static %}
{% block tittle %}Datos Profesional{% endblock %}

{% block body %}
<div class="container-menu">
    {% include 'profesional/menu-prof/datos-personales.html'%}
    <div class="info-perfiles">
        <div class="login-container">
            <div class="actividad-box">
                <div class="act-text-container">
                    <h2>Modificar perfil</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="act-columns">
                            <div class="crea-act-container">
                                <p>Nombre Usuario</p>
                                {{u_form.username}}
                                <p>Nombre</p>
                                {{u_form.first_name}}
                                <p>Apellido</p>
                                {{u_form.last_name}}
                                <p>Corre</p>
                                {{u_form.email}}
                            </div>
                            <div class="crea-act-container">
                                <p>Rut</p>
                                {{form_p.rut}}
                                <p>Telefono</p>
                                {{form_p.telefono}}
                                <p>Direccion</p>
                                {{form_p.direccion}}
    
                                {{form_c}}
    
                            </div>
                        </div>
                        <div class="crea-act-button">
                            <input type="submit" value="Crear" id="button" class="alter-button">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}