{% extends 'base.html' %}
{% load static %}
{% block tittle %}Home Profesional{% endblock %}

{% block body %}
<div class="container-menu">
    <div class="menu-vertical">
        <ul>
            <h2>{{user.get_full_name}}</h2>
            <div class="profile-photo"></div>
            <li><a class="active-pro"href="{% url 'home-prof' %}">Home</a></li>
            <li><a href="{% url 'datos-prof' %}">Datos Personales</a></li>
            <li><a href="{% url 'vista_asesorias' %}">Asesorías</a></li>
            <li><a href="{% url 'vista_capacitacion' %}">Capacitaciones</a></li>
            <li><a href="{% url 'vista_mejoras' %}">Mejoras</a></li>
            <li><a href="{% url 'vista_checklist' %}">Checklist</a></li>
            <li><a href="#">Clientes</a></li>
            <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
        </ul>
        
    </div>
    <div class="info-perfiles">
        <div class="resultados-info">
            <h1>WENA Profesional</h1>
        </div>
    </div>
</div>
{% endblock %}