<h1>AGREGAR PLAN</h1>
<form action="" method="post">
    {% csrf_token %}
    <label for="">ID PLAN</label>
    <input type="number" name="id_plan" id="id_plan">
    <br>
    <label for="">Nombre</label>
    <input type="text" name="nombre">
    <br>
    <label for="">Descripcion</label>
    <input type="text" name="descripcion" id="descripcion">
    <br>
    <label for="">Servicio</label>
    <select name="id_servicio" id="id_servicio">
        <option value="">Seleccionar</option>
        {% for s in servicios%}
        <option value="{{ s.0}}">{{ s.1 }}</option>

        {% endfor %}
    </select>
    <br>
    <input type="submit" value="Guardar">

</form>
{{mensaje}}




<h1>PLANES</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Identificador</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Servicios</th>
        </tr>
    </thead>
    <tbody>


        {% for p in planes %}
        <tr>
            <td>{{p.0}}</td>
            <td>{{p.1}}</td>
            <td>{{p.2}}</td>
            <td>{{p.5}}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>


