{% extends 'base.html' %}
{% load static %}

{% block tittle %}Home{% endblock %}

{% block body %}
{% include 'administrador/menu-horizontal.html'%}
{% if user.is_staff %}
<style>
    iframe {
        width: 100% ;
        height: 100% ;
    }
</style>

<div class="container-menu">
    {% include 'administrador/menu-admin/home.html'%}
    <div class="info-perfiles">
        
        <iframe  src="https://app.powerbi.com/reportEmbed?reportId=46188cb3-1f26-4f0b-b8de-ea6590d25315&autoAuth=true&ctid=72fd0b5a-8a6a-4cff-89f6-bde961f7e250&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWNlbnRyYWwtdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>
        
    </div>
</div>
{% endif %}
{% endblock %}