{% extends 'base.html' %}
{% load static %}
{% block tittle %}LISTA{% endblock %}
{% block body %}
<div class="container-menu">
    <div class="menu-vertical">
        <ul>
            <h2>{{user.get_full_name}}</h2>
            <li><a href="{% url 'home-adm' %}">Home</a></li>
            <li><a class="active" href="{% url 'mantenedor' %}">Mantenedor</a></li>
            <li><a href="#">Reportes</a></li>
            <li><a href="#">Ver Actividades</a></li>
            <li><a href="#">Notificar Atrasos</a></li>
            <li><a href="#">Control de Pagos</a></li>
            <li><a href="#">Accidentes</a></li>
            <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
        </ul>
    </div>
    <div class="info-perfiles">
        <div class="container-lista">
            <div class="lista">
                <h2>Lista de Usuarios</h2>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th class="table-id">Identificador</th>
                            <th>Usuario</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Correo</th>
                            <th>Vigente</th>
                            <th class="table-action">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if entity %}
                        {% for entity in entity %}
                        <tr>
                            <td class="table-id" >{{entity.id}}</td>
                            <td>{{entity.username}}</td>
                            <td>{{entity.first_name}}</td>
                            <td>{{entity.last_name}}</td>
                            <td>{{entity.email}}</td>
                            <td>
                                {% if entity.is_active %}
                                Sí
                                {% else %}
                                No
                                {% endif %}
                            </td>
                            <td class="table-action">
                                <a href="{% url 'editar' entity.id %}">
                                    <div class = "modificar"><p>Modificar</p></div>
                                </a>
                                {% if entity.is_active %}
                                <a href="{% url 'eliminar' entity.id %}">
                                    <div class = "vigente"><p>Desactivar</p></div>
                                </a>
                                {% else %}
                                <a href="{% url 'activar' entity.id %}">
                                    <div class = "vigente"><p>Activar</p></div>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        {%endif %}
                    </tbody>
                </table>
                <div class="num-pag">
                    {% include 'paginator.html'%}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}