
{% extends 'base.html' %}
{% load static %}
{% block tittle %}Mantenedor{% endblock %}

{% block body %}
{% if perms.api.add_user %}
<div class="container-menu">
    <div class="menu-vertical">
        <ul>
            <h2>{{user.get_full_name}}</h2>
            <li><a href="{% url 'home-adm' %}">Home</a></li>
            <li><a class="active" href="{% url 'mantenedor' %}">Mantenedor</a></li>
            <li><a  href="{% url 'infoProfesional' %}">info Profesional</a></li>
            <li><a href="{% url 'infoCliente' %}">info Cliente</a></li>
            <li><a href="#">Reportes</a></li>
            <li><a href="#">Ver Actividades</a></li>
            <li><a href="#">Notificar Atrasos</a></li>
            <li><a href="#">Control de Pagos</a></li>
            <li><a href="#">Accidentes</a></li>
            <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
        </ul>
    </div>
    <div class="info-perfiles">
        <div class="container-mantenedor">
            <div class="mantenedor-user">
                <a href="{% url 'mantenedor-usr' %}">
                    <div class="acciones-mantenedor">
                        <div class="desc-acc">
                            <h3>Mantenedor Usuario</h3>
                            <p>Permite la creación de los usuarios dentro del sistema, listar, modificar y desactivar.</p>
                        </div>
                    </div>
                </a>
                <a href="{% url 'mantenedor-servicio' %}">
                    <div class="acciones-mantenedor">
                        <div class="desc-acc">
                            <h3>Mantenedor Servicio</h3>
                            <p>Permite la creación de los servicios dentro del sistema, listar, modificar y desactivar.</p>
                        </div>
                    </div>
                </a>
                <a href="{% url 'mantenedor-plan' %}">
                <div class="acciones-mantenedor">
                    <div class="desc-acc">
                        <h3>Mantenedor Plan</h3>
                        <p>Permite la creación de los planes dentro del sistema, listar, modificar y desactivar.</p>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}