
{% extends 'base.html' %}
{% load static %}
{% block tittle %}Mantenedor{% endblock %}

{% block body %}
{% if perms.api.add_user %}
<div class="container-menu">
    <div class="menu-vertical">
        <ul>
            <h2>{{user.get_full_name}}</h2>
            <li><a href="{% url 'home-adm' %}">Home</a></li>
            <li><a class="active" href="{% url 'mantenedor' %}">Mantenedor</a></li>
            <li><a  href="{% url 'infoProfesional' %}">info Profesional</a></li>
            <li><a href="{% url 'infoCliente' %}">info Cliente</a></li>
            <li><a href="#">Reportes</a></li>
            <li><a href="#">Ver Actividades</a></li>
            <li><a href="#">Notificar Atrasos</a></li>
            <li><a href="#">Control de Pagos</a></li>
            <li><a href="#">Accidentes</a></li>
            <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
        </ul>
    </div>
    <div class="info-perfiles">
        <div class="container-mantenedor">
            <div class="mantenedor-user">
                <a href="{% url 'signup' %}">
                    <div class="acciones-mantenedor">
                        <div class="desc-acc">
                            <h3>Crear Usuario</h3>
                            <p>Permite la creación de usuario dentro del sistema Safely.</p>
                        </div>
                    </div>
                </a>
                <a href="{% url 'listar' %}">
                <div class="acciones-mantenedor">
                    <div class="desc-acc">
                        <h3>Listar Usuarios</h3>
                        <p>Permite la visualización de los usuarios dentro del sistema Safely.</p>
                        <p>Para borrar o modificar usuarios, debe ingresar aquí.</p>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}