
{% extends 'base.html' %}
{% load static %}
{% block tittle %}Mantenedor{% endblock %}

{% block body %}
{% if perms.api.add_user %}
<div class="container-menu">
    {% include 'administrador/menu-admin/mantenedor.html'%}
    <div class="info-perfiles">
        <div class="container-mantenedor">
            <div class="mantenedor-user">
                <a href="{% url 'signup' %}">
                    <div class="acciones-mantenedor">
                        <div class="desc-acc">
                            <h3>Crear Usuario</h3>
                            <p>Permite la creación de usuario dentro del sistema Safely.</p>
                        </div>
                    </div>
                </a>
                <a href="{% url 'crear-grupo' %}">
                    <div class="acciones-mantenedor">
                        <div class="desc-acc">
                            <h3>Crear Grupo</h3>
                            <p>Permite la creación de grupos (roles) dentro del sistema Safely.</p>
                        </div>
                    </div>
                </a>
                <a href="{% url 'listar' %}">
                <div class="acciones-mantenedor">
                    <div class="desc-acc">
                        <h3>Listar Usuarios</h3>
                        <p>Permite la visualización de los usuarios dentro del sistema Safely.</p>
                        <p>Para borrar o modificar usuarios, debe ingresar aquí.</p>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}