{% extends 'base.html' %}
{% load static %}
{% block tittle %}Crear Visita{% endblock %}

{% block body %}
<div class="container-menu">
    {% include 'profesional/menu-prof/visita.html'%}
    
    <div class="info-perfiles">
        <div class="login-container">
            <div class="signup-box">
                <div class="perfil-text-container">
                    <h2>CREAR VISITA</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                        <p>Nombre</p>
                        {{form.nombre}}
                        <p style="visibility: hidden; height: 0px;">{{form.estado}}</p>

                        <input type="submit" value="Registrar" id="button" class="alter-button">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}