{% extends 'base.html' %}
{% load static %}
{% block tittle %}Ingresar Asesoría{% endblock %}

{% block body %}
<div class="container-menu">
    <div class="menu-vertical">
        <ul>
            <h2>{{user.get_full_name}}</h2>
            <li><a href="{% url 'home-prof' %}">Home</a></li>
            <li><a href="{% url 'datos-prof' %}">Datos Personales</a></li>
            <li><a href="{% url 'vista_actividad' %}">Actividad</a></li>
            <li><a class="active-pro" href="{% url 'lista_ase' %}">Asesorías</a></li>
            <li><a href="{% url 'lista_capa' %}">Capacitaciones</a></li>
            <li><a href="{% url 'vista_mejoras' %}">Mejoras</a></li>
            <li><a href="{% url 'lista_ch' %}">Checklist</a></li>
            <li><a href="{% url 'vista_visita' %}">Visita</a></li>
            <li><a href="#">Clientes</a></li>
            <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
        </ul>
    </div>
    
    <div class="info-perfiles">
        <div class="login-container">
            <div class="actividad-box">
                <div class="act-text-container">
                    <h2>INGRESAR ACTIVIDAD DE VISITA</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="act-columns">
                            <div class="crea-act-container">
                                <p>Nombre</p>
                                {{form.nombre}}
                                <p>Descripción</p>
                                {{form.descripcion}}
                                {{form.tipo_act.as_hidden}}
                                <p>Visita</p>
                                {{form.id_visita}}
                                <p>Fecha estimada</p>
                                {{form.fec_estimada}}</div>
                            <div class="crea-act-container">
                                <p>Fecha de ida</p>
                                {{form.fec_ida}}
                                <p>Estado</p>
                                {{form.estado}}
                                <p>Cliente</p>
                                {{form.id_cli}}
                                <p>Profesional</p>
                                {{form.id_prof}}
                                <p>Acción</p>
                                <input type="submit" value="Ingresar" id="button" class="alter-button">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}