{% extends 'base.html' %}
{% load static %}
{% block tittle %}Profesional - Visita{% endblock %}

{% block body %}
<div class="container-menu">
    <div class="menu-vertical">
        <ul>
            <h2>{{user.get_full_name}}</h2>
            <div class="profile-photo"></div>
            <li><a href="{% url 'home-prof' %}">Home</a></li>
            <li><a href="{% url 'datos-prof' %}">Datos Personales</a></li>
            <li><a href="{% url 'vista_actividad' %}">Actividad</a></li>
            <li><a href="{% url 'lista_ase' %}">Asesorías</a></li>
            <li><a href="{% url 'lista_capa' %}">Capacitaciones</a></li>
            <li><a href="{% url 'vista_mejoras' %}">Mejoras</a></li>
            <li><a href="{% url 'lista_ch' %}">Checklist</a></li>
            <li><a class="active-pro"  href="{% url 'vista_visita' %}">Visita</a></li>
            <li><a href="#">Clientes</a></li>
            <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
        </ul>
    </div>
    <div class="info-perfiles">
        <div class="container-lista">
            <div class="lista">
                <h2>Visita</h2>
                <div class="botones-asesorias">
                    <a class ="color-verde" href="{% url 'crear_visita' %}">Crear mejora</a>
                </div>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID VISITA</th>
                            <th>NOMBRE</th>
                            <th>EXTRA</th>
                            <TH>ESTADO</TH>
                             <TH>ACCION </TH>
                        </tr>
                    </thead>
                    <tbody>
                        {% if entity %}
                        {% for entity in entity %}
                        <tr>
                            <td>{{entity.id_visita}}</td>
                            <td>{{entity.nombre}}</td>
                            <td>{{entity.is_extra}}</td>
                            <td>{{entity.estado}}</td>
                            <td><a href="{% url 'modificar_visita' entity.id_visita %}" id="modificar">modificar</a></td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                <div class="num-pag">
                    {% include 'paginator.html'%}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}