{% extends 'base.html' %}
{% load static %}
{% block tittle %}Profesional - Visita{% endblock %}

{% block body %}
{% include 'profesional/menu-horizontal.html'%}
<div class="container-menu">
    {% include 'profesional/menu-prof/visita.html'%}
    <div class="info-perfiles">
        <div class="container-lista">
            <div class="lista">
                <h2>VISITA</h2>
                <div class="botones-asesorias">
                    <a class ="color-verde" href="{% url 'crear_visita' %}">Crear Visita</a>
                    <a class ="color-azul" href="{% url 'ingresar_visita' %}">Ingresar Visita</a>
                </div>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Id Visita</th>
                            <th>Nombre</th>
                            <TH>Estado</TH>
                            <TH>Acción</TH>
                        </tr>
                    </thead>
                    <tbody>
                        {% if entity %}
                        {% for entity in entity %}
                        <tr>
                            <td>{{entity.id_visita}}</td>
                            <td>{{entity.nombre}}</td>
                            <td>
                                {% if entity.estado %}
                                Activo
                                {% else %}
                                Desactivado
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'modificar_visita' entity.id_visita %}" id="modificar">
                                    <div class = "modificar"><p>Modificar</p></div>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                <div class="num-pag">
                    {% include 'paginator.html'%}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}