{% extends 'base.html' %}
{% load static %}
{% block tittle %}Profesional - Asesorías{% endblock %}

{% block body %}
{% include 'profesional/menu-horizontal.html'%}
<div class="container-menu">
    {% include 'profesional/menu-prof/asesorias.html'%}
    <div class="info-perfiles">
        <div class="container-lista">
            <div class="lista">
                <h2>ASESORÍAS</h2>
                <div class="botones-asesorias">
                    <a class ="color-amarillo" href="{% url 'crear_tipo_ase' %}">Crear tipo de Asesoría</a>
                    <a class ="color-verde" href="{% url 'crear_ase' %}">Crear Asesoría</a>
                    <a class ="color-azul" href="{% url 'ingresar_ase' %}">Ingresar Asesoría</a>
                </div>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Id Asesoría</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Tipo de Asesoría</th>
                            <th>Estado</th>
                            <TH>Acción</TH>
                        </tr>
                    </thead>
                    <tbody>
                        {% if entity %}
                        {% for entity in entity %}
                        <tr>
                            <td class="table-id">{{entity.id_asesoria}}</td>
                            <td>{{entity.nombre}}</td>
                            <td class="desc-act"><p>{{entity.descripcion}}</p></td>
                            <td>{{entity.id_tipo_ase}}</td>
                            <td>{% if entity.estado %}
                                Activo
                                {% else %}
                                Inactivo
                                {% endif %}
                            </td>
                            <td class="table-action" >
                                <a href="{% url 'modificar_ase' entity.id_asesoria %}" id="modificar">
                                    <div class = "modificar"><p>Modificar</p></div>
                                </a>
                                {% if entity.estado == 1 %}
                                <a href="{% url 'desactivar-ase' entity.id_asesoria %}">
                                    <div class = "vigente"><p>Desactivar</p></div>
                                </a>
                                {% else %}
                                <a href="{% url 'activar-ase' entity.id_asesoria %}" >
                                    <div class = "modificar"><p>Activar</p></div>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                <div class="num-pag">
                    {% include 'paginator.html'%}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}