{% extends 'profesional/base-profesional.html' %}
{% load static %}
{% block tittle %}Profesional{% endblock %}

{% block body %}
<div class="container-menu">
    <div class="info-perfiles">

        <div class="container-mantenedor">
            <div class="mantenedor-user">

            
                <a href="{% url 'ingresar_ase' %}">
                    <div class="acciones-mantenedor">
                        <div class="desc-acc">
                            <h3>INGRESAR ASESORIAS</h3>
                        </div>
                    </div>
                </a>

                </a>
            </div>

            <div class="mantenedor-user">
                <a href="{% url 'crear_ase' %}">
                    <div class="acciones-mantenedor">
                        <div class="desc-acc">
                            <h3>CREAR ASESORIAS</h3>
                        </div>
                    </div>
                </a>
                
            </div>

            <div class="mantenedor-user">
                <a href="{% url 'crear_tipo_ase' %}">
                    <div class="acciones-mantenedor">
                        <div class="desc-acc">
                            <h3>CREAR TIPO DE ASESORIA</h3>
                        </div>
                    </div>
                </a>
                
            </div>
            <div class="mantenedor-user">
                <a href="{% url 'lista_ase' %}">
                    <div class="acciones-mantenedor">
                        <div class="desc-acc">
                            <h3>Listar </h3>
                        </div>
                    </div>
                </a>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
