{% extends 'base.html' %}
{% load static %}
{% block tittle %}Crear asesoria{% endblock %}

{% block body %}
<div class="container-menu">
    <div class="menu-vertical">
        <ul>
            <h2>{{user.get_full_name}}</h2>
            <div class="profile-photo"></div>
            <li><a href="{% url 'home-prof' %}">Home</a></li>
            <li><a href="{% url 'datos-prof' %}">Datos Personales</a></li>
            <li><a href="{% url 'vista_actividad' %}">Actividad</a></li>
            <li><a class="active-pro" href="{% url 'lista_ase' %}">Asesorías</a></li>
            <li><a href="{% url 'lista_capa' %}">Capacitaciones</a></li>
            <li><a href="{% url 'vista_mejoras' %}">Mejoras</a></li>
            <li><a href="{% url 'lista_ch' %}">Checklist</a></li>
            <li><a href="{% url 'vista_visita' %}">Visita</a></li>
            <li><a href="#">Clientes</a></li>
            <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
        </ul>
    </div>
    
    <div class="info-perfiles">
        <div class="login-container">
            <div class="signup-box">
                <div class="login-text-container">
                    <h2>CREAR ASESORIAS</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{form}}
                        <input type="submit" value="Registrar" id="button" class="alter-button">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}