{% extends 'profesional/base-profesional.html' %}
{% load static %}
{% block tittle %}LISTA{% endblock %}
{% block body %}
<div class="container-menu">
    <div class="info-perfiles">
        <div class="container-lista">
            <div class="lista">
                <h2>Lista de Asesorias</h2>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID ACTIVIDAD</th>
                            <th>ID ASESORIA</th>
                            <th>DESCRIPCION</th>
                            <th>TIPO ASESORIA</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% if entity %}
                        {% for entity in entity %}
                        <tr>
                            <td>{{entity.id_actividad}}</td>
                            <td>{{entity.id_asesoria}}</td>
                            <td>{{entity.descripcion}}</td>
                            <td>{{entity.id_tipo_ase}}</td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                <div class="num-pag">
                    {% include 'paginator.html'%}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}