
{% extends 'base.html' %}
{% load static %}
{% block tittle %}Iniciar Sesión{% endblock %}

{% block body %}
<div class="login-container">
    <div class="login-box">
        <div class="login-text-container">
            <h3 style="font-size: 26px;padding-bottom: 20px;">Restablecer contraseña</h3>
            <p style="width: 80%;margin: auto;padding-bottom: 30px;">¿Olvidaste tu contraseña? Ingrese su dirección de correo electrónico a continuación y le enviaremos las instrucciones para configurar una nueva.</p>
            <form action="" method="post">
                {% csrf_token %}
                <p style="padding-bottom: 15px;">Correo Electrónico</p>
                {{form.email}}
                <input type="submit" value="Enviar" id="button" class="login-button">
              </form>
        </div>
    </div>
</div>
{% endblock %}