{% extends 'base.html' %}
{% load static %}
{% block tittle %}Iniciar Sesión{% endblock %}

{% block body %}
<div class="login-container">
    <div class="login-box">
        <div class="login-text-container">
            <h3 style="font-size: 26px;padding-bottom: 20px;width: 80%;margin: auto;">Restablecimiento de contraseña completado</h3>
            <p style="width: 80%;margin: auto;padding-bottom: 30px;">Su contraseña ha sido establecida. Ahora puede continuar e <a href="{% url 'login' %}">iniciar sesión.</a></p>
            <h3>✔️</h3>
        </div>
    </div>
</div>
{% endblock %}