{% extends 'base.html' %}
{% load static %}
{% block tittle %}Iniciar Sesión{% endblock %}

{% block body %}
<div class="login-container">
    <div class="login-box">
        <div class="login-text-container">
            <h3 style="font-size: 26px;padding-bottom: 20px;">Restablecimiento de contraseña enviado</h3>
            <p style="width: 80%;margin: auto;padding-bottom: 30px;">Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó. Debería recibirlos en breve.</p>
            <p style="width: 80%;margin: auto;padding-bottom: 30px;">Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.</p>
        </div>
    </div>
</div>
{% endblock %}