
{% extends 'base.html' %}
{% load static %}
{% block tittle %}Iniciar Sesión{% endblock %}

{% block body %}
<div class="login-container">
    <div class="login-box">
        <div class="login-text-container">
            <h3 style="font-size: 26px;padding-bottom: 20px;">Escriba la nueva contraseña</h3>
            <p style="width: 80%;margin: auto;padding-bottom: 30px;">Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.</p>
            <form action="" method="post">
                {% csrf_token %}
                <p style="width: 80%;margin: auto;padding-bottom: 10px;">Nueva Contraseña</p>
                <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
                <p style="width: 80%;margin: auto;padding-bottom: 10px;">Confirmar Contraseña</p>
                <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
                <input type="submit" value="Enviar" id="button" class="login-button">
              </form>
        </div>
    </div>
</div>
{% endblock %}