{% extends 'base.html' %}
{% load static %}
{% block js %}
<script>
    $(function() {
        $('#id_groups').change(function(){
            $('.tipo').hide();
            $('#' + $(this).val()).show();
        });
    });
</script>
{% endblock %}
{% block tittle %}Crear Actividad{% endblock %}

{% block body %}
<div class="container-menu">
    <div class="menu-vertical">
        <ul>
            <h2>{{user.get_full_name}}</h2>
            <li><a href="{% url 'home-adm' %}">Home</a></li>
            <li><a class="active" href="{% url 'mantenedor' %}">Mantenedor</a></li>
            <li><a href="{% url 'infoPerfil' %}">Info Perfiles</a></li>
            <li><a href="{% url 'infoProfesional' %}">Info Profesional</a></li>
            <li><a href="{% url 'infoCliente' %}">Info Cliente</a></li>
            <li><a href="#">Reportes</a></li>
            <li><a href="#">Ver Actividades</a></li>
            <li><a href="#">Notificar Atrasos</a></li>
            <li><a href="#">Control de Pagos</a></li>
            <li><a href="#">Accidentes</a></li>
            <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
        </ul>
    </div>
    
    <div class="info-perfiles">
        <div class="login-container">
            <div class="actividad-box">
                <div class="act-text-container">
                    <h2>CREAR USUARIO</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="crea-act-container">
                            <p>Usuario</p>
                            {{form.username}}
                            {{form.username.errors}}
                            <p>Nombre</p>
                            {{form.first_name}}
                            <p>Apellido</p>
                            {{form.last_name}}
                            <p>Correo</p>
                            {{form.email}}
                            <p>Contraseña</p>
                            <input type="password" name="password1" required id="id_password1" placeholder="Contraseña">
                            <p>Confirmar Contraseña</p>
                            <input type="password" name="password2" required id="id_password2" placeholder="Confirmar contraseña">

                        </div>
                        <div class="crea-act-container">
                            <p>Grupo</p>
                            <select id="id_groups" name="groups">
                                {% for x, y in form.fields.groups.choices %}
                                    <option value="{{ x }}"{% if form.fields.groups.value == x %} selected{% endif %}>{{ y }}</option>
                                {% endfor %}
                            </select>
                            <diV id=1 class="tipo" style="display:none">
                                {{adminform.as_p}}
                            </div>
                            <diV id="2" class="tipo" style="display:none">
                                {{proform.as_p}}
                            </div>
                            <diV id="3" class="tipo" style="display:none">
                                <p>Razón Social</p>
                                {{cliform.razon_social}}
                            </div>
                            <p>Rut</p>
                            {{form_p.rut}}
                            <p>Teléfono</p>
                            {{form_p.telefono}}
                            <p>Dirección</p>
                            {{form_p.direccion}}
                            <p>Tipo Perfil</p>
                            {{form_p.tipo_perf}}
                            <p>Acción</p>
                            <input type="submit" value="Crear" id="button" class="alter-button">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}