{% extends 'base.html' %}
{% load static %}
{% block tittle %}Profesional - Checklist{% endblock %}

{% block body %}
<div class="container-menu">
    {% include 'profesional/menu-prof/checklist.html'%}
    <div class="info-perfiles">
        <div class="container-lista">
            <div class="lista">
                <h2>Checklists</h2>

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Item por verificar</th>
                            <th>Verificación</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if entity %}
                        {% for entity in entity %}
                        <tr>
                            <td>{{entity.nombre}}</td>
                            <td>{{entity.verificacion}}</td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                <div class="num-pag">
                    {% include 'paginator.html'%}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}