{% extends 'base.html' %}
{% load static %}
{% block tittle %}Profesional - Checklist{% endblock %}

{% block body %}
<div class="container-menu">
    {% include 'profesional/menu-prof/checklist.html'%}
    <div class="info-perfiles">
        <div class="container-lista">
            <div class="lista">
                <h2>HOME - Checklists</h2>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>  ID  </th>
                            <th>Actividad</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if entity %}
                        {% for entity in entity %}
                        <tr>
                            <td>{{entity.id_act_check}}</td>
                            <td>{{entity.id_actividad}}</td>
                            <td class="table-action" ><a href="{% url 'checklist' entity.id_act_check %}" id="modificar">
                                <div class = "modificar"><p>Ver</p></div>
                            </a></td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                <div class="num-pag">
                    {% include 'paginator.html'%}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}