{% extends 'base.html' %}
{% load static %}
{% block tittle %}Actualizar{% endblock %}

{% block body %}
<div class="container-menu">
    {% include 'administrador/menu-admin/boletas.html'%}
    <div class="info-perfiles">
        <div class="login-container">
            <div class="actividad-box">
                <div class="act-text-container">
                    <h3>Modificar formulario</h3>
                    <br>
                    <form action="" method="post">
                        {% csrf_token %}
                            {{form}}
                        <input type="submit" value="Modificar" id="button" class="alter-button">
                        
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}