{% extends 'base.html' %}
{% load static %}
{% block tittle %}Crear Mejora{% endblock %}

{% block body %}
<div class="container-menu">
    {% include 'profesional/menu-prof/mejoras.html'%}
    
    <div class="info-perfiles">
        <div class="login-container">
            <div class="actividad-box">
                <div class="act-text-container">
                    <h2>CREAR MEJORA</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="act-columns">
                            <div class="crea-act-container">
                                <p>Nombre</p>
                                {{form.nombre}}
                                <p>Propuesta</p>
                                {{form.propuesta}}
                            </div>
                            <div class="crea-act-container">
                                <p>Aceptación</p>
                                {{form.aceptacion}}
                                <p>Estado</p>
                                {{form.estado}}
                                <p>Actividad</p>
                                {{form.id_actividad}}
                                <input type="submit" value="Registrar" id="button" class="alter-button">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}