{% extends 'base.html' %}
{% load static %}
{% block tittle %}Adminsitrador - Actividad{% endblock %}

{% block body %}
<div class="container-menu">
    {% include 'administrador/menu-admin/boletas.html'%}
    <div class="info-perfiles">
        <div class="container-lista">
            <div class="lista">
                <h2>LISTADO DE BOLETAS</h2>
                <div class="botones-asesorias">
                    <a class ="color-verde" href="{% url 'creaBoleta' %}">Crear boleta</a>
                </div>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Boleta</th>
                            <th>Emision Boleta</th>
                            <th>Fecha de Pago</th>
                            <th>Fecha de Corte</th>
                            <th>Pago Mensual</th>
                            <th>Estado</th>
                            <th>Pagos Extras</th>
                            <th>URL</th>
                            <th>Cliente</th>
                            <th>Correo</th>       
                            <TH>ACCIÓN</TH>
                        </tr>
                    </thead>
                    <tbody>
                        {% if entity %}
                        {% for entity in entity %}
                        <tr>
                            <td class="table-id">{{entity.id_boleta}}</td>
                            <td style="width: 90px;">{{entity.fec_emision_bol}}</td>
                            <td style="width: 90px;">{{entity.fec_pago}}</td>
                            <td style="width: 90px;">{{entity.fec_corte}}</td>
                            <td >$ {{entity.pago_mensual}}</td>
                            <td >{% if entity.pagado %}
                                Pagado
                                {% else %}
                                Sin pagar
                                {% endif %}
                            </p></td>
                            <td >$ {{entity.pago_extra}}</td>
                            <td ><p style="width: 120px;overflow: auto;padding-bottom: 8px;">{{entity.url}}</p></td>
                            <td >{{entity.id_contrato}}</td>
                            <td >{{entity.id_contrato.id_cli.id_perfil.id_auth_user.email}}</td>

                            <td class="table-action" >
                                <a href="{% url 'editarBoleta' entity.id_boleta %}" id="modificar">
                                    <div class = "modificar"><p>Modificar</p></div>
                                </a>
                                <a href="{% url 'datosBoleta' entity.id_boleta %}" id="modificar">
                                    <div class = "modificar"><p>Enviar  </p></div>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                <div class="num-pag">
                    {% include 'paginator.html'%}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}