{% extends 'base.html' %}
{% load static %}
{% block tittle %}Adminsitrador - Actividad{% endblock %}

{% block body %}
<div class="container-menu">
    <div class="menu-vertical">
        <ul>
            <h2>{{user.get_full_name}}</h2>
            <li><a class="active" href="{% url 'home-adm' %}">Home</a></li>
            <li><a href="{% url 'mantenedor' %}">Mantenedor</a></li>
            <li><a href="{% url 'infoPerfil' %}">Info Perfiles</a></li>
            <li><a  href="{% url 'infoProfesional' %}">Info Profesional</a></li>
            <li><a href="{% url 'infoCliente' %}">Info Cliente</a></li>
            <li><a href="#">Reportes</a></li>
            <li><a href="{% url 'actividades' %}">Ver Actividades</a></li>
            <li><a href="#">Notificar Atrasos</a></li>
            <li><a href="{% url 'listaContrato' %}">Contratos</a></li>
            <li><a href="{% url 'listaBoletas' %}">Boletas</a></li>
            <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
        </ul>
        
    </div>
    <div class="info-perfiles">
        <div class="container-lista">
            <div class="lista">
                <h2>Listado de boletas</h2>
                <div class="botones-asesorias">
                    <a class ="color-verde" href="{% url 'creaBoleta' %}">Crear boleta</a>
                </div>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Boleta</th>
                            <th>Emision boleta</th>
                            <th>Fecha de pago</th>
                            <th>Fecha de corte</th>
                            <th>Pago mensual</th>
                            <th>Estado</th>
                            <th>Pagos extras</th>
                            <th>url</th>
                            <th>Contrato</th>          
                            <TH>ACCIÓN</TH>
                        </tr>
                    </thead>
                    <tbody>
                        {% if entity %}
                        {% for entity in entity %}
                        <tr>
                            <td class="table-id">{{entity.id_boleta}}</td>
                            <td>{{entity.fec_emision_bol}}</td>
                            <td ><p>{{entity.fec_pago}}</p></td>
                            <td ><p>{{entity.fec_corte}}</p></td>
                            <td ><p>{{entity.pago_mensual}}</p></td>
                            <td ><p>{{entity.pagado}}</p></td>
                            <td ><p>{{entity.pago_extra}}</p></td>
                            <td ><p>{{entity.url}}</p></td>
                            <td ><p>{{entity.id_contrato}}</p></td>

                            <td class="table-action" >
                                <a href="{% url 'editarBoleta' entity.id_boleta %}" id="modificar">
                                    <div class = "modificar"><p>Modificar</p></div>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                <div class="num-pag">
                    {% include 'paginator.html'%}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}