{% extends 'base.html' %}
{% load static %}
{% block tittle %}Actualizar{% endblock %}

{% block body %}
<div class="container-menu">
    <div class="menu-vertical">
        <ul>
            <h2>{{user.get_full_name}}</h2>
            <li><a class="active" href="{% url 'home-adm' %}">Home</a></li>
            <li><a href="{% url 'mantenedor' %}">Mantenedor</a></li>
            <li><a href="{% url 'infoPerfil' %}">Info Perfiles</a></li>
            <li><a  href="{% url 'infoProfesional' %}">Info Profesional</a></li>
            <li><a href="{% url 'infoCliente' %}">Info Cliente</a></li>
            <li><a href="#">Reportes</a></li>
            <li><a href="{% url 'actividades' %}">Ver Actividades</a></li>
            <li><a href="#">Notificar Atrasos</a></li>
            <li><a href="{% url 'listaContrato' %}">Contratos</a></li>
            <li><a href="{% url 'listaBoletas' %}">Boletas</a></li>
            <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
        </ul>
    </div>
    <div class="info-perfiles">
        <div class="login-container">
            <div class="actividad-box">
                <div class="act-text-container">
                    <h3>Modificar formulario</h3>
                    <br>
                    <form action="" method="post">
                        {% csrf_token %}
                            {{form}}
                        <input type="submit" value="Modificar" id="button" class="alter-button">
                        
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}