{% extends 'base.html' %}
{% load static %}
{% block tittle %}Home Cliente{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/main.css'  %}">
{% endblock  %}
{% block body %}

<div class="container-menu">
<div class="menu-vertical">
    <ul>
        <h2>{{user.get_full_name}}</h2>
        <li><a href="{% url 'home-cliente' %}">Home</a></li>
        <li><a class="active-cli" href="{% url 'perfil-cliente' %}">Cambiar Información</a></li>

        <li><a href="{% url 'boleta-cliente' %}">Pagar y ver Boletas</a></li>
        <li><a href="{% url 'actividades-cliente' %}">Actividades</a></li>

        <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
    </ul>
</div>
<div class="info-perfiles">
    <div class="login-container">
        <div class="actividad-box">
            <div class="act-text-container">
                <h2>MODIFICAR PERFIL</h2>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="act-columns">
                        <div class="crea-act-container">
                            <p>Nombre Usuario</p>
                            {{u_form.username}}
                            <p>Nombre</p>
                            {{u_form.first_name}}
                            <p>Apellido</p>
                            {{u_form.last_name}}
                            <p>Correo</p>
                            {{u_form.email}}
                        </div>
                        <div class="crea-act-container">
                            <p>Rut</p>
                            {{form_p.rut}}
                            <p>Teléfono</p>
                            {{form_p.telefono}}
                            <p>Dirección</p>
                            {{form_p.direccion}}
                            <p>Razón social</p>
                            {{form_c.razon_social}}

                        </div>
                    </div>
                    <div class="crea-act-button">
                        <input type="submit" value="Modificar" id="button" class="alter-button">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/locales-all.js' %}"></script>


{% endblock %}

