{% extends 'base.html' %}
{% load static %}
{% block tittle %}Informacion clientes {% endblock %}

{% block body %}
{% if perms.api.add_user %}
<div class="container-menu">
    {% include 'administrador/menu-admin/info-cliente.html'%}
    <div class="info-perfiles">
        <div class="container-lista">
            <div class="lista">
                <h2>INFORMACION DE TODOS CLIENTES</h2>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Identificador</th>
                            <th>Nombre usuario</th>
                            <th>Nombre apellido</th>
                            <th>Correo</th>
                            <th>Rut</th>
                            <th>Telefono</th>
                            <th>Direccion</th>
                            <th>Razon Social</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if entity %}
                        {% for entity in entity %}
                        <tr>
                            <td>{{entity.9}}</td>
                            <td>{{entity.1}}</td>
                            <td>{{entity.2}} {{entity.3}}</td>
                            <td>{{entity.4}}</td>
                            <td>{{entity.6}}</td>
                            <td>{{entity.7}}</td>
                            <td>{{entity.8}}</td>
                            <td>{{entity.10}}</td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                <div class="num-pag">
                    {% include 'paginator.html'%}
                </div>
            </div>
        </div>

    </div>
</div>
{% endif %}
{% endblock %}