{% extends 'base.html' %}
{% load static %}
{% block tittle %}editar{% endblock %}

{% block body %}
<div class="container-menu">
    {% include 'administrador/menu-admin/mantenedor.html'%}
    <div class="info-perfiles">
        <div class="login-container">
            <div class="signup-box">
                <div class="perfil-text-container">
                    <h2>Editar Servicio</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                        <h5>Nombre del Servicio</h5>
                        {{ form.nombre }}
                        <h5>Descripción</h5>
                        {{ form.descripcion }}
                        <input type="submit" value="Modificar" id="button" class="alter-button">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}